* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #000000, #0f2027);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}
